/*pegination   */
.pegi-text {
  /* width: 100px;
  height: 100px; */
  /* background-color: red !important; */
  padding: 10px;

}





@media screen and (max-width: 768px) {

  /* Example styles */
  .logo-text {
    font-size: 10px !important;
  }

  .time-sheet {
    font-size: 10px;
    margin-left: -10px !important;
  }

  .main-table {
    overflow-x: scroll !important;
    width: 100% !important;
  }

  .pegi-container button {
    display: block !important;
    width: 100% !important;
  }




}